.app-header {
  display: flex;
  justify-content: space-between;

  span {
    outline: none;
    &:hover {
      color: #f6f0fa;
    }
  }
}

.login-register-btn {
  display: flex;
  flex-direction: row;
   span {
     margin-right: 20px;
     cursor: pointer;
   }
}

