body {
  width: 100%;
}

.app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 2;

  span {
    outline: none;
    &:hover {
      color: #f6f0fa;
    }
  }

  .login-register-btn {
    display: flex;
    flex-direction: row;
    span {
      margin-right: 20px;
      cursor: pointer;

      @media screen and (max-width: 700px) {
        margin-right: 10px;
      }
    }
  }
}
