<mat-card class="card">
  <div class="left-container">
    <mat-card-title>
      {{ tripDetails.tripName }}
    </mat-card-title>
    <mat-card-content>
     <div class="date-details">
      <span>
        From: <strong>{{ tripDetails.startDate }}</strong>
      </span>
      <span>
        To: <strong>{{ tripDetails.endDate }}</strong>
      </span>
      <span>
        Starting Point: <strong>{{ tripDetails.startingPoint }}</strong>
      </span>
      <span>
        Destination: <strong>{{ tripDetails.destination }}</strong>
      </span>
     </div>
    </mat-card-content>
  </div>
  <mat-card-actions class="right-container">
    <button mat-flat-button color="warn" (click)="showTripDetails(tripDetails.idtrip)">View details</button>
    <button mat-flat-button color="warn" (click)="deleteTrip(tripDetails.idtrip)">Delete trip</button>
  </mat-card-actions>
</mat-card>
