.homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  p {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    font-size: 40px;
    color: rgb(156, 147, 147);

    @media screen and (max-width: 500px ) {
      margin-left: 50px;
      line-height: 100%;
    }
  }

  img {
    @media screen and (max-width: 700px ) {
      width: 300px;
      height: 300px;
    }
  }
}
