.trip-details-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 50px auto 0 auto;
  border-radius: 10px;
  border: 1px solid #dedce0;
  -webkit-box-shadow: 34px 21px 40px -5px rgba(172, 165, 242, 1);
  -moz-box-shadow: 34px 21px 40px -5px rgba(172, 165, 242, 1);
  box-shadow: 34px 21px 40px -5px rgba(172, 165, 242, 1);
  padding: 20px;

  #title {
    font-size: 30px;
    padding-bottom: 30px;
    color: #706f82;
  }

  .details {
    display: flex;
    flex-direction: column;

    span {
      font-size: 16px;
      padding-bottom: 10px;
      strong {
        color: #574ef5;
      }
    }
  }

  agm-map {
    height: 300px;
  }
}

#map {
  width: 100%;
  height: 500px;
}

::ng-deep .mapboxgl-marker {
  background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png');
  width: 30px;
  height: 30px;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 800px) {
  .trip-details-container {
    width: 70%;

    #map {
      height: 300px;
    }

    ::ng-deep {
      .mapboxgl-ctrl-geocoder {
        width: 60%;
        margin: 0;
        margin-top: 10px;

        svg {
          top: 6px;
        }

        input {
          height: 100%;
        }
      }
    }
  }
}
