<div class="trip-details-container">
  <span id="title"> Your current route </span>
  <div class="details">
    <span
      >Trip name: <strong>{{ tripDetails?.tripName }}</strong></span
    >
    <span>Current location: <strong>{{currentLocation}}</strong></span>
    <span>Starting point: <strong>{{ tripDetails?.startingPoint }}</strong></span>
    <span
      >Destination: <strong>{{ tripDetails?.destination }}</strong></span
    >
  </div>

  <div id="map"></div>
</div>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css"
  rel="stylesheet"
/>
<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
type="text/css"
/>
